<div class="volunteer-container">
    <div class="left-panel">
      <img src="../../../assets/images/home/voluntees.png" alt="Volunteers" />
    </div>
  
    <div class="right-panel">
      <h2>Become a Volunteer</h2>
  
      <form #volunteerFormRef (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" name="firstname" placeholder="First Name *" required ngModel>
          <input type="text" name="lastname" placeholder="Last Name *" required ngModel>
        </div>
  
        <div class="form-group">
          <input type="text" name="company" placeholder="Company Name" ngModel>
          <input type="email" name="email" placeholder="Email Address *" required ngModel>
        </div>
  
        <div class="form-group">
          <input type="tel" name="phone" placeholder="Phone Number *"required ngModel>
          <input type="tel" name="whatsapp" placeholder="WhatsApp Number *" required ngModel>
        </div>
  
        <div class="form-group">
          <input type="date" name="dob" placeholder="Date of Birth *" required ngModel>
        </div>
  
        <div class="form-group">
          <textarea name="address" placeholder="Address *" required ngModel></textarea>
        </div>
  
        <div class="form-group">
          <input type="text" name="city" placeholder="Town/City *" required ngModel>
          <input type="text" name="state" placeholder="State *" required ngModel>
        </div>
  
        <div class="form-group">
          <input type="text" name="zip" placeholder="Zip Code *" required ngModel>
          <input type="text" name="country" placeholder="Country *" required ngModel>
        </div>
  
        <div class="form-group">
          <textarea name="reason" placeholder="Why you need to join with us?"ngModel></textarea>
        </div>

        <button type="submit" [disabled]="isSending">
          {{ isSending ? 'Sending...' : 'Submit' }}
        </button>
  
        <div *ngIf="statusMessage" class="status-message" [ngClass]="{
          'success': isSuccess,
          'error': isError
        }">
          {{ statusMessage }}
        </div>
      </form>
    </div>
  </div>
  