<footer class="footer">

<div class="container">
    <div class="row">
        <div class="footer-col">
            <h4>Vidhai</h4>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a routerLink="/donate">Donation</a></li>
                <li><a routerLink="/voluntees">Voluntees</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Services</h4>
            <ul>
                <li><a href="#">Educational Support</a></li>
                
            </ul>
        </div>
        <div class="footer-col">
            <h4>Contact Us</h4>
            <ul>
             <li><a href="#">VIDHAI FOUNDATION
                 No. 40/12, Velavan Nagar, Balaji Nagar Main Road,
                 Kolathur, Chennai - 600099
             </a></li>
             <li class="contact-item">
                 <i class="fas fa-envelope"></i>
                 <a href="mailto:vidhaiedufoundation@gmail.com">vidhaiedufoundation&#64;gmail.com</a>
                </li>
               <li class="contact-item">
                 <i class="fas fa-phone-alt"></i>
                 <a href="tel:+919940504343">9940504343</a>
               </li>					  
         </ul>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</div>
</footer>