<div class="gallery-container">
    <div class="title-container">
        <h1 class="title">GALLERY</h1>
        <p class="subtitle">Moments from Vidhai Foundation’s initiatives</p>
    </div>

    <div class="body-container">
        <div class="section" *ngFor="let section of sectionList">
            <div class="section-header">
                {{ section.sectionTitle }}
                <div class="section-divider"></div>
            </div>

            <div class="photo-container">
                <div class="photo-section">
                    <div class="photo-card" *ngFor="let img of section.images">
                        <div class="image-wrapper" (click)="openModal(img)">
                            <img [src]="img.src" [alt]="img.description">
                            <div class="image-overlay">
                                <p class="overlay-text">{{ img.details }}</p>
                            </div>
                        </div>
                        <p class="photo-desc">{{ img.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gallery-modal-backdrop" *ngIf="selectedImage" [class.modal-closing]="isClosing" (click)="closeModal()">
    <div class="gallery-modal" (click)="$event.stopPropagation()">
        <button class="modal-close-btn" (click)="closeModal()">×</button>

        <div class="modal-content-grid">
            <div class="modal-img-wrap">
                <img [src]="selectedImage.src" [alt]="selectedImage.description">
            </div>

            <div class="modal-desc-wrap">
                <h2 class="modal-title">{{ selectedImage.description }}</h2>
                <p class="modal-text">
                    {{ selectedImage.details }}
                </p>
            </div>
        </div>
    </div>
</div>