<div class="home-page">
    <main>
        <div class="carousel-container">
            <ul class='slider'>
                <li class="item" style="background-image: url('assets/images/home/banner_1.jpg')">
                    <div class='content'>
                        <h2 class='title'>Empower a Child's Future Through Education</h2>
                        <p class='description'>Your support helps provide books, learning, and hope to children in need. Together, let’s build a brighter tomorrow.</p>
                        <button (click)="navigateTo('voluntees')">Join with Us</button>
                    </div>
                </li>
                <li class='item' style="background-image: url('assets/images/home/banner_2.jpg')">
                    <div class='content'>
                        <h2 class='title'>Tools of Hope in Every Hand</h2>
                        <p class='description'>With your support, we equip children with books and supplies — opening doors to learning, laughter, and lasting change.
                        </p>
                        <button (click)="navigateTo('voluntees')">Donate Now</button>
                    </div>
                </li>
                <li class='item' style="background-image: url('assets/images/home/banner_6.jpg')">
                    <div class='content'>
                        <h2 class='title'>Empowering Young Minds</h2>
                        <p class='description'>Through dedicated mentorship and joyful learning, we nurture curiosity and confidence in every child.</p>
                        <button (click)="navigateTo('voluntees')">Join with Us</button>
                    </div>
                </li>
                <li class='item' style="background-image: url('assets/images/home/banner_3.jpg')">
                    <div class='content'>
                        <h2 class='title'>A Classroom Full of Dreams</h2>
                        <p class='description'>
                            In a sunlit room filled with books and eager hearts, young minds dive into learning, building the foundation for a brighter tomorrow.
                        </p>
                        <button (click)="navigateTo('donate')">Donate Now</button>
                    </div>
                </li>
                <li class='item'
                    style="background-image: url('assets/images/home/banner_4.jpg')">
                    <div class='content'>
                        <h2 class='title'>Igniting Young Minds</h2>
                        <p class='description'>
                            A vibrant classroom radiates with joy, curiosity, and creativity as children engage in learning, their imaginations illuminated by the power of knowledge and discovery.
                        </p>
                        <button (click)="navigateTo('donate')">Join with Us</button>
                    </div>
                </li>
                <li class='item'
                    style="background-image: url('assets/images/home/banner_5.jpg')">
                    <div class='content'>
                        <h2 class='title'>The Joy of Learning Together</h2>
                        <p class='description'>Excited children raise their hands in a vibrant classroom filled with creativity and joy. </p>
                        <button (click)="navigateTo('donate')">Donate Now</button>
                    </div>
                </li>
            </ul>
        </div>
        <nav class='nav'>
            <ion-icon class='btn prev' name="arrow-back-outline"></ion-icon>
            <ion-icon class='btn next' name="arrow-forward-outline"></ion-icon>
        </nav>
        <div class="ngo-content">

            <div class="welcome-section animate">
                <div class="welcome-content revealUp">
                    <h1>Welcome to VIDHAI</h1>
                    <h3>"We are here to nurture the Seeds of the future"</h3>
                    <p>Empowering Futures Through Education – Empowering young minds through education, providing underprivileged students with financial support, learning resources, and opportunities to thrive.</p>
                </div>
            </div>
            <!-- About Us Section -->
            <div id="about" class="about-container two-column-section animate">
                <div class="section-text revealUp">
                    <h2>About Us</h2>
                    <p>
                        <span class="highlight">VIDHAI</span>, is a non-profit educational trust was born from friendship, compassion, and a shared dream. A group of friends, shaped by the same classrooms and values, came together with one simple belief that no child’s future should be decided by their family’s financial condition.
                     As we grew, we saw many bright children around us struggle-not because they lacked talent, but because they lacked support. VIDHAI was created to change that reality. What started as a small effort to help a few children has now become a heartfelt mission to stand by students who deserve a chance to learn, grow, and dream big.
                    </p>
                </div>
                <div class="section-image revealUp">
                    <img src="assets/images/home/banner4.png" alt="About Image" />
                </div>
            </div>

            <!-- Our Mission Section -->
            <div class="ngo-mission two-column-section reverse animate">
                <div class="section-text revealUp">
                    <h2>Our Mission</h2>
                    <p>
                        We strive to ensure that no deserving student is denied education due to financial hardship. We believe that a child’s dreams should never fade because of a lack of resources.
                      
                      We support meritorious students from economically weaker sections by providing financial assistance, essential educational resources, and continuous encouragement. Beyond support, we offer hope—so every child we stand with can learn with confidence, believe in themselves, and move closer to a brighter future.
                    </p>
                </div>
                <div class="section-image revealUp">
                    <img src="assets/images/home/banner2.jpg" alt="Our Mission Image" />
                </div>
            </div>

            <!-- Vision Section -->
            <div class="ngo-impact two-column-section animate">
                <div class="section-text">
                    <h2 class="revealUp">Vision</h2>
                    <p class="revealUp">
                        Inspired by the words of 
                        <span class="highlight">Swami Vivekananda</span> — 
                        <span class="quote">"If a child cannot come to education, then education must go to the child."</span> 
                        Vidhai envisions a future where education is accessible to all, regardless of socio-economic background. Through sustained support and community involvement, we envision a future where empowered and educated children contribute positively to their families, communities, and the nation.
                      
                      We dream of a world where every child walks into a classroom with hope, confidence, and equal opportunity. A world where education is not a privilege for a few, but a promise to all. Through VIDHAI, we envision empowered children who grow into responsible, educated individuals shaping a better tomorrow.
                    </p>
                </div>
                <div class="section-image revealUp">
                    <img src="assets/images/home/banner3.png" alt="Vision Image" />
                </div>
            </div>

            <!-- Our Work in Action Section -->
            <div class="ngo-photos animate">
                <h2 class="revealUp">Our Work in Action</h2>
                <p class="revealUp">
                        At VIDHAI, we don’t just talk about change—we make it happen. Every day, we strive to transform the dreams of deserving students into reality.

                        Supporting Education: We provide financial assistance for school fees, books, uniforms, and other essential learning needs, ensuring that no child has to give up on their studies.

                        Mentorship & Guidance: We guide and motivate students, helping them overcome challenges, build confidence, and set goals for a brighter future.

                        Community Collaboration: We work closely with families, schools, and local communities to identify meritorious students and deliver support where it’s needed the most.

                        Celebrating Success: Every milestone matters. From exam achievements to personal growth, we celebrate the progress of every child we support.

                        With each student we help, VIDHAI’s vision comes to life: turning potential into achievement, and dreams into reality.
                </p>
                </div>
                <div class="photo-gallery revealUp">
                    <img src="assets/images/home/banner2.jpg" alt="NGO Work 1" />
                </div>
            </div>

            <!-- Get Involved Section -->
            <div class="ngo-get-involved animate">
                <h2 class="revealUp">Get Involved</h2>
                <p class="revealUp">
                    <span class="quote">“Yesterday is gone Tomorrow is not yet come We have only today”</span>
                    Come Join with us to elevate the lives of more students in future
                </p>
                <div id="button-container" class="revealUp">
                    <app-button [buttonText]="buttonText" (click)="navigateTo('voluntees')"></app-button>
                </div>
            </div>
        </div>
    </main>
</div>
