<div class="home-page">
    <main>
        <div class="carousel-container">
            <ul class='slider'>
                <li class="item" style="background-image: url('assets/images/home/banner_1.jpg')">
                    <div class='content'>
                        <h2 class='title'>Empower a Child's Future Through Education</h2>
                        <p class='description'>Your support helps provide books, learning, and hope to children in need. Together, let’s build a brighter tomorrow.</p>
                        <button>Read More</button>
                    </div>
                </li>
                <li class='item' style="background-image: url('assets/images/home/banner_2.jpg')">
                    <div class='content'>
                        <h2 class='title'>Tools of Hope in Every Hand</h2>
                        <p class='description'>With your support, we equip children with books and supplies — opening doors to learning, laughter, and lasting change.
                        </p>
                        <button>Read More</button>
                    </div>
                </li>
                <li class='item' style="background-image: url('assets/images/home/banner_6.jpg')">
                    <div class='content'>
                        <h2 class='title'>Empowering Young Minds</h2>
                        <p class='description'>Through dedicated mentorship and joyful learning, we nurture curiosity and confidence in every child.</p>
                        <button>Read More</button>
                    </div>
                </li>
                <li class='item' style="background-image: url('assets/images/home/banner_3.jpg')">
                    <div class='content'>
                        <h2 class='title'>A Classroom Full of Dreams</h2>
                        <p class='description'>
                            In a sunlit room filled with books and eager hearts, young minds dive into learning, building the foundation for a brighter tomorrow.
                        </p>
                        <button>Read More</button>
                    </div>
                </li>
                <li class='item'
                    style="background-image: url('assets/images/home/banner_4.jpg')">
                    <div class='content'>
                        <h2 class='title'>Igniting Young Minds</h2>
                        <p class='description'>
                            A vibrant classroom radiates with joy, curiosity, and creativity as children engage in learning, their imaginations illuminated by the power of knowledge and discovery.
                        </p>
                        <button>Read More</button>
                    </div>
                </li>
                <li class='item'
                    style="background-image: url('assets/images/home/banner_5.jpg')">
                    <div class='content'>
                        <h2 class='title'>The Joy of Learning Together</h2>
                        <p class='description'>Excited children raise their hands in a vibrant classroom filled with creativity and joy. </p>
                        <button>Read More</button>
                    </div>
                </li>
            </ul>
        </div>
        <nav class='nav'>
            <ion-icon class='btn prev' name="arrow-back-outline"></ion-icon>
            <ion-icon class='btn next' name="arrow-forward-outline"></ion-icon>
        </nav>
        <div class="ngo-content">

            <div class="welcome-section animate">
                <div class="welcome-content revealUp">
                    <h1>Welcome to VIDHAI</h1>
                    <h3>"We are here to nurture the Seeds of the future"</h3>
                    <p>Empowering Futures Through Education – A group of close friends giving back to society by supporting underprivileged students with fees, stationery, and the true essence of education.</p>
                </div>
            </div>
            <!-- About Us Section -->
            <div id="about" class="about-container two-column-section animate">
                <div class="section-text revealUp">
                    <h2>About Us</h2>
                    <p>
                        At <span class="highlight">VIDHAI</span>, we are dedicated to support the education of underprivileged 
                        and financially struggling students who excel in academics. 
                        We believe that financial constraints should never be a barrier to a student's educational journey. 
                        Our team works tirelessly to provide the necessary resources and support, 
                        ensuring that bright minds have the opportunity to learn, grow, and achieve their dreams.
                    </p>
                </div>
                <div class="section-image revealUp">
                    <img src="assets/images/home/banner4.png" alt="About Image" />
                </div>
            </div>

            <!-- Our Mission Section -->
            <div class="ngo-mission two-column-section reverse animate">
                <div class="section-text revealUp">
                    <h2>Our Mission</h2>
                    <p>
                        At Vidhai NGO, we believe in the power of giving back. We aim to provide sustainable development to
                        those in need through various initiatives, including:
                    </p>
                    <ul class="revealUp">
                        <li>Educational support for underprivileged children</li>
                        <li>Medical aid and healthcare services</li>
                        <li>Empowerment programs for women and youth</li>
                    </ul>
                </div>
                <div class="section-image revealUp">
                    <img src="assets/images/home/banner2.jpg" alt="Our Mission Image" />
                </div>
            </div>

            <!-- Vision Section -->
            <div class="ngo-impact two-column-section animate">
                <div class="section-text">
                    <h2 class="revealUp">Vision</h2>
                    <p class="revealUp">
                        Inspired by the words of 
                        <span class="highlight">Swami Vivekananda</span> — 
                        <span class="quote">"If a child cannot come to education, then education must go to the child."</span> — 
                        Vidhai envisions a future where every underprivileged student, regardless of financial hardships, has access to quality education. 
                        We strive to break barriers and create opportunities, ensuring that no deserving student is left behind in their pursuit of knowledge and success.
                    </p>
                </div>
                <div class="section-image revealUp">
                    <img src="assets/images/home/banner3.png" alt="Vision Image" />
                </div>
            </div>

            <!-- Our Work in Action Section -->
            <div class="ngo-photos animate">
                <h2 class="revealUp">Our Work in Action</h2>
                <div class="photo-gallery revealUp">
                    <img src="assets/images/home/banner2.jpg" alt="NGO Work 1" />
                    <img src="assets/images/home/banner2.jpg" alt="NGO Work 2" />
                    <img src="assets/images/home/banner3.png" alt="NGO Work 3" />
                </div>
            </div>

            <!-- Get Involved Section -->
            <div class="ngo-get-involved animate">
                <h2 class="revealUp">Get Involved</h2>
                <p class="revealUp">
                    <span class="quote">“Yesterday is gone Tomorrow is not yet come We have only today”</span>
                    Come Join with us to elevate the lives of more students in future
                </p>
                <div id="button-container" class="revealUp">
                    <app-button [buttonText]="buttonText" (click)="navigateToVoluntees()"></app-button>
                </div>
            </div>
        </div>
    </main>
</div>
